/* line 1, ../sass/pageselect.scss */
.pageselect {
  width: 100%;
  margin: 0 auto;
}

/* line 6, ../sass/pageselect.scss */
.pageselect .tu1 {
  width: 1200px;
  height: 60px;
  background: lightblue;
  margin: 0 auto;
}

/* line 13, ../sass/pageselect.scss */
.pageselect .bannermain {
  margin: 0 auto;
  width: 1200px;
}

/* line 18, ../sass/pageselect.scss */
.pageselect .bannermain .bannerleft {
  float: left;
  width: 190px;
}

/* line 23, ../sass/pageselect.scss */
.pageselect .bannermain .bannerleft .lefthead {
  height: 35px;
  width: 190px;
  text-align: center;
  font-size: 18px;
  background: #487a6f;
  border-radius: 4px 4px 0 0;
  line-height: 34px;
  color: #fff;
  font-family: "Microsoft Yahei";
}

/* line 35, ../sass/pageselect.scss */
.pageselect .bannermain .banner {
  width: 750px;
  height: 315px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  background: lightgreen;
}

/* line 44, ../sass/pageselect.scss */
.pageselect .bannermain .banner .suoyin {
  position: absolute;
  bottom: 10px;
  right: 0px;
  z-index: 2;
}

/* line 51, ../sass/pageselect.scss */
.pageselect .bannermain .banner .suoyin ul {
  float: right;
}

/* line 55, ../sass/pageselect.scss */
.pageselect .bannermain .banner .suoyin ul li {
  float: left;
  margin-right: 13px;
}

/* line 60, ../sass/pageselect.scss */
.pageselect .bannermain .banner .suoyin ul span {
  border-radius: 50% 50%;
  background: white;
  width: 16px;
  height: 16px;
  display: inline-block;
}

/* line 68, ../sass/pageselect.scss */
.pageselect .bannerright {
  float: right;
  position: absolute;
  top: 250px;
  right: 250px;
}

/* line 75, ../sass/pageselect.scss */
.pageselect .bannerright .zuixin {
  border: 1px solid #eaeaea;
  padding: 6px 10px;
  width: 218px;
}

/* line 81, ../sass/pageselect.scss */
.pageselect .bannerright .zuixin .zuiheader {
  font-weight: bolder;
  font-size: 16px;
  text-align: left;
}

/* line 87, ../sass/pageselect.scss */
.pageselect .bannerright .zuixin li {
  width: 200px;
  height: 30px;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 0 5px 0;
}

/* line 96, ../sass/pageselect.scss */
.pageselect .bannerright .shu {
  width: 238px;
  position: relative;
  overflow: hidden;
  height: 140px;
  top: 0px;
  left: 0px;
}

/* line 105, ../sass/pageselect.scss */
.pageselect .bannerright .shu .zuixinshu {
  font-size: 16px;
  padding: 6px 10px;
  text-align: left;
  font-weight: bolder;
}

/* line 112, ../sass/pageselect.scss */
.pageselect .bannerright .shu .meitu {
  position: relative;
  top: 0px;
  left: 0px;
  width: 238px;
  height: 140px;
}

/* line 120, ../sass/pageselect.scss */
.pageselect .bannerright .shu .meitu li {
  float: left;
  width: 238px;
  height: 140px;
  font-size: 12px;
  font-weight: normal;
  position: relative;
}

/* line 129, ../sass/pageselect.scss */
.pageselect .bannerright .shu .meitu li a {
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
}

/* line 136, ../sass/pageselect.scss */
.pageselect .bannerright .shu .meitu li a img {
  width: 100%;
  height: 100%;
}
